---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import { Picture } from 'astro:assets';
import { getImage } from 'astro:assets';
const bgBeach = await getImage({ src: beach });
import logoR from '../img/logo-r.svg';
import logoWh from '../img/logo-lrg.svg';
import logoClr from '../img/logo-lrg-clr.svg';
import marinaAerial from '../img/marina-aerial.webp';
import marina from '../img/marina.webp';
import wasaga from '../img/wasaga.webp';
import sunset from '../img/sunset.webp';
import foodland from '../img/foodland.webp';
import tims from '../img/tims.webp';
import swissChalet from '../img/swiss-chalet.webp';
import river from '../img/river.webp';
import library from '../img/library.webp';
import mcdonalds from '../img/mcdonalds.webp';
import kayak from '../img/kayaking.webp';
import fishing from '../img/fishing.webp';
import beach from '../img/beach.webp';
import upperview from '../img/logo-upperview-clr.svg';
import walmart from '../img/walmart.webp';

const title = '';
---

<Layout {title}>
	<section id="hero" aria-label="Riverscape townhome community aerial location">
		<div>
			<Image src={logoR} class="riverscape wow slideInUp" data-wow-delay=".5s" data-wow-duration="3s" loading="eager" alt="Riverscape Escape to Wasaga" />
			<h1 class="wow slideInDownBlur" data-wow-delay="0s" data-wow-duration="3s">Escape to Wasaga Beach</h1>
		</div>
	</section>

	<div class="divider"></div>

	<section id="intro">
		<div class="container top btm">
			<div class="flex">
				<div class="cell small-18">
					<Image src={logoWh} class="logoWh wow slideInUpBlur" data-wow-delay="0s" data-wow-duration="3s" loading="eager" alt="Riverscape: A Natural Wasaga Enclave" />
					<p>
						Welcome to Riverscape, a modern townhome community offering the perfect blend of tranquility and convenience. Nestled in a private enclave, Riverscape is surrounded by nature, providing a
						retreat in modern townhomes that are designed with stone and wood architectural detailing.DIST
					</p>
					<div class="register">
						<a href="#register" role="link" aria-label="link to register form">REGISTER</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="escape">
		<div class="container top">
			<div class="flex align-middle">
				<div class="cell small-18 medium-10 small-order-2 medium-order-1">
					<h2>ESCAPE TO WASAGA BEACH</h2>
					<p>
						Located in Wasaga Beach, Riverscape provides the best of both worlds. Enjoy city life with easy access to all the amenities and city conveniences, yet experience the cottage lifestyle in
						this laid-back beach town, with a natural landscape, riverfront property and nature trails. The Wasaga lifestyle provides access to the best of Wasaga Beach, including boutique stores,
						beachfront restaurants, and of course, the beach itself. You are also within close proximity to the attractions of nearby Collingwood and Barrie. Embrace the perfect balance of serene
						living and vibrant community life at Riverscape.
					</p>
					<div class="register-today"><a href="#register" role="link" arial-label="link to register form">REGISTER TODAY</a></div>
				</div>
				<div class="cell small-18 medium-auto small-order-1 medium-order-2 logo">
					<Image src={logoClr} class="logo-clr wow slideInUpBlur" data-wow-delay="0s" data-wow-duration="3s" loading="eager" alt="Riverscape: A Natural Wasaga Enclave" />
					<Image src={logoWh} class="logo-wh wow slideInUpBlur" data-wow-delay="0s" data-wow-duration="3s" loading="eager" alt="Riverscape: A Natural Wasaga Enclave" />
				</div>
			</div>
		</div>
	</section>

	<div class="divider-grey">
		<div></div>
	</div>

	<section id="wasaga">
		<div class="container btm">
			<Picture src={wasaga} formats={['avif', 'webp']} alt="Riverscape Wasaga Beach" />
			<div class="divider">
				<div></div>
			</div>

			<div class="triad">
				<div class="swiper mySwiper1" id="one">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><Image src={library} alt="Riverscape Wasaga Library" /></div>
						<div class="swiper-slide"><Image src={foodland} alt="Riverscape Foodland" /></div>
						<div class="swiper-slide"><Image src={sunset} alt="Riverscape sunset" /></div>
						<div class="swiper-slide"><Image src={tims} alt="Riverscape Tim Hortons" /></div>
					</div>
				</div>

				<div class="swiper mySwiper2" id="two">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><Image src={walmart} alt="Riverscape Walmart" /></div>
						<div class="swiper-slide"><Image src={kayak} alt="Riverscape Kayaking" /></div>
						<div class="swiper-slide"><Image src={marinaAerial} alt="Riverscape Marina" /></div>
						<div class="swiper-slide"><Image src={fishing} alt="Riverscape Fishing" /></div>
					</div>
				</div>

				<div class="swiper mySwiper3" id="three">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><Image src={river} alt="Riverscape River scene" /></div>
						<div class="swiper-slide"><Image src={swissChalet} alt="Riverscape Swiss Chalet" /></div>
						<div class="swiper-slide"><Image src={marina} alt="Riverscape Marina" /></div>
						<div class="swiper-slide"><Image src={mcdonalds} alt="Riverscape McDonalds" /></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="divider"></div>

	<section id="townhomes">
		<div class="container btm top">
			<div class="flex">
				<div class="pricing">
					<div>
						<h3>MODERN TOWNS,<br />NATURE LIFESTYLE</h3>
					</div>
					<div>
						<span>FROM THE</span><br />$700’<sup class="s">S</sup>
					</div>
				</div>
			</div>

			<p class="wow slideInUp" data-wow-delay="0s" data-wow-duration="3s">
				Imagine modern townhomes, designed around nature for an urban lifestyle. Three contemporary collections, <strong>Bungaloft Towns, Links Towns and Traditional Towns,</strong> offer spacious open
				concept designs, sleek kitchens and primary bedrooms with bungalow lofts.
			</p>
		</div>
	</section>

	<div id="map"></div>

	<section id="register">
		<div class="container top btm">
			<div id="form-container">
				<a href="https://www.upperviewhomes.com/" target="_blank" role="link" aria-label="link to Upperview Homes website"><Image src={upperview} class="upperview" alt="Upperview Homes" /></a>
				<p class="reg-intro">
					Brought to you by <strong><a target="_blank" href="https://www.upperviewhomes.com/" role="link" arial-label="link to upperview homes website">Upperview Homes</a></strong>, building fine
					quality homes in Ontario for over 10 years.
				</p>

				<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" />

				<div id="mc_embed_signup">
					<form
						action="https://pbmarketing.us9.list-manage.com/subscribe/post?u=a96828cedf0ef3cbd0a03c6f1&id=12bee7680b&f_id=001bede3f0"
						method="post"
						id="mc-embedded-subscribe-form"
						name="mc-embedded-subscribe-form"
						class="validate"
						target="_self"
					>
						<h4>REGISTER FOR<br />EXCLUSIVE UPDATES</h4>

						<div id="mc_embed_signup_scroll">
							<div class="mc-field-group">
								<label for="mce-EMAIL" class="visuallyhidden">Email Address <span class="asterisk">*</span></label>
								<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Email" />
								<span>Email</span>
							</div>
							<div class="mc-field-group">
								<label for="mce-FNAME" class="visuallyhidden">First Name </label>
								<input type="text" name="FNAME" class="firstName" id="mce-FNAME" value="" required="" placeholder="First Name" />
								<span>First Name</span>
							</div>
							<div class="mc-field-group">
								<label for="mce-LNAME" class="visuallyhidden">Last Name </label>
								<input type="text" name="LNAME" class="text" id="mce-LNAME" value="" placeholder="Last Name" />
								<span>Last Name</span>
							</div>
							<div class="mc-field-group">
								<label for="mce-PHONE" class="visuallyhidden">Phone Number </label>
								<input type="tel" name="PHONE" class="phone" id="mce-PHONE" value="" maxlength="15" placeholder="Phone" />
								<span>Phone</span>
								<p class="input-err" hidden>Please use only numbers</p>
							</div>
							<div class="mc-field-group">
								<label for="mce-HEAR" class="visuallyhidden">How Did You Hear About Us?</label>
								<select name="HEAR" class="" id="mce-HEAR">
									<option value="">How Did You Hear About Us?</option>
									<option value="Billboard">Billboard</option>
									<option value="Signage">Signage</option>
									<option value="Social Media">Social Media</option>
									<option value="Google">Google</option>
									<option value="Word of Mouth">Word of Mouth</option>
								</select>
							</div>
							<div class="mc-field-group input-group" id="broker">
								<h3>Are you a Broker?</h3>

								<ul>
									<li>
										<label for="mce-BROKER0" class="label">
											<input type="radio" name="BROKER" id="mce-BROKER0" value="YES" class="radio-input" />
											<div class="radio-design"></div>
											<div class="label-text">YES</div>
										</label>
									</li>
									<li>
										<label for="mce-BROKER1" class="label">
											<input type="radio" name="BROKER" id="mce-BROKER1" value="NO" class="radio-input" />
											<div class="radio-design"></div>
											<div class="label-text">NO</div>
										</label>
									</li>
								</ul>
							</div>
							<div class="mc-field-group">
								<label for="mce-COMMENTS" class="visuallyhidden">Comments </label>
								<textarea name="COMMENTS" class="text" rows="5" id="mce-COMMENTS" value="" placeholder="Comments"></textarea>
								<span>Comments</span>
							</div>
							<div aria-hidden="true" style="position: absolute; left: -5000px;">
								<input type="text" name="b_a96828cedf0ef3cbd0a03c6f1_5cb1a4b1ee" tabindex="-1" value="" />
							</div>
							<div class="clear">
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display: none;"></div>
									<div class="response" id="mce-success-response" style="display: none;"></div>
								</div>

								<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="SUBMIT" />

								<p class="disclaimer">
									By submitting this form, you agree to receive via email all related offers, promotions and event information. You can unsubscribe at anytime by clicking on the 'Unsubscribe' link at
									the bottom of any promotional email.
								</p>
							</div>
						</div>
					</form>
				</div>

				<script is:inline src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
				<script is:inline>
					(function ($) {
						window.fnames = new Array();
						window.ftypes = new Array();
						fnames[0] = 'EMAIL';
						ftypes[0] = 'email';
						fnames[1] = 'FNAME';
						ftypes[1] = 'text';
						fnames[2] = 'LNAME';
						ftypes[2] = 'text';
						fnames[4] = 'PHONE';
						ftypes[4] = 'phone';
						fnames[3] = 'HEAR';
						ftypes[3] = 'dropdown';
						fnames[5] = 'BROKER';
						ftypes[5] = 'radio';
						fnames[6] = 'COMMENTS';
						ftypes[6] = 'text';
					})(jQuery);
					let $mcj = jQuery.noConflict(true);
				</script>
			</div>
		</div>
	</section>

	<section id="beach" style={`background-image: url('${bgBeach.src}')`}>
		<h3 class="wow slideInLeft" data-wow-delay="0s" data-wow-duration="4s">HERE,<br />LIFE’S<br />A BEACH</h3>
	</section>
</Layout>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script is:inline>
	const swiper1 = new Swiper('.mySwiper1', {
		effect: 'fade',
		loop: 'true',
		speed: 1000,
		autoplay: {
			delay: 4000,
		},
	});

	const swiper2 = new Swiper('.mySwiper2', {
		effect: 'fade',
		loop: 'true',
		speed: 1000,
		autoplay: {
			delay: 5000,
		},
	});

	const swiper3 = new Swiper('.mySwiper3', {
		effect: 'fade',
		loop: 'true',
		speed: 1000,
		autoplay: {
			delay: 3000,
		},
	});
</script>

<script is:inline>
	function initMap() {
		let center = {
			lat: 44.469012,
			lng: -80.048111,
		};

		let map = new google.maps.Map(document.getElementById('map'), {
			center: center,
			zoom: 15,
			disableDefaultUI: true,
			zoomControl: true,
			scrollwheel: false,
			streetViewControl: false,
			styles: [
				{ elementType: 'geometry', stylers: [{ color: '#f9f3ee' }] },
				{ elementType: 'labels.icon', stylers: [{ visibility: 'off' }] },
				{ elementType: 'labels.text.fill', stylers: [{ color: '#616161' }] },
				{ elementType: 'labels.text.stroke', stylers: [{ visibility: 'off' }] },
				{ featureType: 'administrative.land_parcel', elementType: 'labels.text.fill', stylers: [{ color: '#bdbdbd' }] },
				{ featureType: 'poi', elementType: 'geometry', stylers: [{ color: '#eeeeee' }] },
				{ featureType: 'poi', elementType: 'labels.text.fill', stylers: [{ color: '#757575' }] },
				{ featureType: 'poi.park', elementType: 'geometry', stylers: [{ color: '#e5e5e5' }] },
				{ featureType: 'poi.park', elementType: 'labels.text.fill', stylers: [{ visibility: 'off' }] },
				{ featureType: 'road', elementType: 'geometry', stylers: [{ color: '#ffffff' }] },
				{ featureType: 'road.arterial', elementType: 'labels.text.fill', stylers: [{ color: '#757575' }] },
				{ featureType: 'road.highway', elementType: 'geometry', stylers: [{ color: '#dadada' }] },
				{ featureType: 'road.highway', elementType: 'labels.text.fill', stylers: [{ color: '#616161' }] },
				{ featureType: 'road.local', elementType: 'labels.text.fill', stylers: [{ color: '#9e9e9e' }] },
				{ featureType: 'transit.line', elementType: 'geometry', stylers: [{ color: '#e5e5e5' }] },
				{ featureType: 'transit.station', elementType: 'geometry', stylers: [{ color: '#eeeeee' }] },
				{ featureType: 'water', elementType: 'geometry', stylers: [{ color: '#d2e6f8' }] },
				{ featureType: 'water', elementType: 'labels.text.fill', stylers: [{ color: '#9e9e9e' }] },
			],
		});

		let image = {
			url: './logo-map.svg',
		};

		let marker = new google.maps.Marker({
			position: center,
			map: map,
			icon: pinSymbol('#002554'),
			icon: image,
			animation: google.maps.Animation.DROP,
		});

		function pinSymbol(color) {
			return {
				path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
				fillColor: color,
				fillOpacity: 1,
				strokeColor: '#444',
				strokeWeight: 0,
				scale: 1,
			};
		}
		let content =
			'<div>' +
			'<h5 style="color:#002554;line-height:1;margin-bottom:5px;font-size"1.2rem">Riverscape</h5>' +
			'<p style="line-height:1.4;margin-bottom:0;">529 Sunnidale Rd. <br>' +
			'Wasaga Beach, <br>' +
			'ON L9Z 1H9</p></div>';
		let infowindow = new google.maps.InfoWindow({
			content: content,
		});
		marker.addListener('click', function () {
			infowindow.open(map, marker);
		});
	}
</script>

<script async is:inline src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8CX2EVlNFn2-SW6aiiZO8ZPEky0Hi4Vg&callback=initMap&loading=async"></script>
